/* font-weight 700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* font-weight 700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common part */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
 
}
.link-button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    height: 44px;
    width: 168px;
    color: #ffffff;
    
    font-size: 16px;
    background-color: #E02C6D;
    
}
.link-button a {
    text-decoration: none;
    color: #ffffff;
    
    font-size: 16px;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.container{
   
    margin-top: 70px;
   
    

}
.section-title{
    margin-top: 95px;
    color: royalblue;
    font-size: 40px;
}
.grid-style-1{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.m{
    position:relative;
    top:20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   
}





/* header-part */
.top-part{
    background-color: #2D25A0;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    width: 100%;
    height: 677px;
  
    
}

.web-name h1{
    color: #ffffff;
    font-size: 64px;
   
    margin-bottom: 27px;
   
}
.web-banner img{
    width : 556px;
    height : 480px;
    margin-top: 60px;
    transition: transform 2s;

}
.top-part:hover img{
    transform: rotate(360deg);
}

/* main-part */
/* players section */
.player{
    
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
  
    width: 330px;
    height: 474px;
    background-color: #ffffff;
    box-shadow:  0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-image img{
   
    width: 300px;
    height: 256px;
}
.player-details{
    width: 300px;
    height: 154px;
}
.player-details h2{
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0;
}
.player-details p{
    font-weight: 400;
    color: #6C6C6C;


}

.articles{
   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}
.news{
    display: flex;
    box-shadow:  0px 0px 40px rgba(0, 0, 0, 0.15);
    
    
}
.news-details{
    margin-left: 15px;
    width:200px;
    height:220px;
    
}
.sponsor img{
    width: 200px;
    height: 100px;
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 20px;
}

footer{
    margin-top: 158px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
footer img{
    width: 483px;
    height: 110px;
}
.fab{
    margin: 20px 5px;
    border-radius:50% ;
   padding: 5px;
 
    background-color: rgba(128, 128, 128, 0.507); 
    color: gray;
}
footer p{
    margin-top: 0;
    margin-bottom: 63px;
}

@media only screen and (max-width:688px) {


    .top-part{
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .web-name, .web-banner{
        width: 90%;
        height: 90%;
        }
    .web-name h1 {
       font-size: 250%;
    }
    .web-banner img{
        width: 100%;
        height: 100%;  
    } 
   
  
  
   
    
    .grid-style-1,.articles{
    
       
        grid-template-columns: repeat(1,1fr);
     

       }
        
       
    
   article{
       justify-content: center;
       flex-wrap: wrap;
   }
   .sponsor img{
      padding-left:10% ;
   }
   footer img{
       width: 60%;
       height: 60%;
   }
}
   


